.cursor{
  cursor: pointer;
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  line-height: 34px;
}

.li-sec{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

@font-face{
    font-family: "Archangelsk";
    src:url(/Arhangels/Archangelsk.ttf) format("truetype");
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-text{
    font-family: "Archangelsk" ;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0%;
}

.span-text{
    font-weight: 700;
    color: #52BEDC;
    opacity: 1;
}

/* header */

header{
    background-image: url(/images/11\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   

header a{
    margin-left: 40px;
    text-decoration: none;
}

.black-button{
    background-color: #000000;
    color: #F8F200;
    padding: 19px 50px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    margin: 25px 282px 70px 70px;
    

}

.header-text{
    max-width: 484px;
    padding: 70px 70px 0px 70px;
}


.home{
    background-image: url(images/Rectangle59\(1\).png);
    background-repeat: no-repeat;
    margin: 631px 320px 0px 976px;
}

/* firstsec */

.p-text{
    max-width: 952px;
    margin-top: 25px;
}

.first-list-text{
    margin: 70px 0px;
}

.first-img-div{
    margin-right: 32px;
}

.first-img-in-div{
    margin-bottom: 32px;
}

.span-norm-text{
    opacity: 60%;
}   

.sec1{
    margin-bottom: 70px;
}


/* secondsec */ 

.sec2{
    background-image: url(/images/221.jpg) , url(/images/Rectangle60.jpg), url(/images/222\(1\).jpg);
    background-position: top center, center center, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-size: 
        100% 70px,
        100% 814px, 
        100% 70px;
    padding-top: 70px;
}

.second-list-text{
    color: #FFFFFF;
}

.text-h-2sec{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.text-h-2sec::before{
    content: url(/images/Group215.svg);
    margin-right: 32px;
}

.p-text-2sec{
    max-width: 952px;
    margin-bottom: 98px;
}

.input-redact{
    border: none;
    border-bottom: 1px solid #777777;
    width: 460px;
    background: none;
    color:#FFFFFF;
    font-weight: 300;
}

.input-redact::placeholder {
    color: #ffffff;
    opacity: 70%;
}

.input-name{
    margin-bottom: 35px;
}

.input-email{
    margin-bottom: 35px;
}

.img-sec-2{
    margin-bottom: 35px;
}

.yellow-button{ 
    background-color: #F8F200;
    color: #000000;
    padding: 15px 50px;
    font-weight: 700;
}

.flex-check{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; 
}

.checkb{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    opacity: 70%;
    font-weight: 300;
    font-size: 12px;
}

#check1{
    accent-color: #F8F200;
}

.forma{
    margin-right: 32px;
    margin-bottom: 123px;
}

/* sec3 */

.sec3{
    background-image: url(/images/Rectangle593.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-h-3sec{
    max-width: 560px;
}

.p-text-3sec{
    max-width: 624px;
    margin: 25px auto;
}

.sec3dop{
    padding-top: 70px;
}


.first-li-sec3::before{
    content: url(images/color_lens.svg);
    margin-right: 10px;
}

.second-li-sec3::before{
    content: url(images/auto_awesome.svg);
    margin-right: 10px;
}

.third-li-sec3::before{
    content: url(/images/auto_awesome_motion.svg);
    margin-right: 10px; 
}

.button-sec3{
    margin: 25px auto 0px 0px;
    font-size: 18px;
    padding: 15px 50px;
}

.divsec3dop{
    margin: auto auto 80px 32px;
}

.div-img-sec3{
    max-width: 624px;
}

.sec-img-sec3{
    padding-left: 42px;
    margin-bottom: 25px;
}

.sec-img-main-sec3{
    margin-bottom: 26px;
}


/* Sec4 */

.container-second{
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(/images/Rectangle596.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.h-text-for-sec4{
    max-width: 624px;
}

.container-3{
    max-width: 319px;
    height: 133px;
}

.flex-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.first-img{
    margin-right: 40px;
}

.for-text-sec4{
    flex-grow: 1;
    margin: 70px auto auto 32px;
    color: #FFFFFF;
}

.flex-3{
    display: flex;
    align-items: flex-start;
}

.p-text-4{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #52BEDC;
}

.first-li-sec4::before{
    margin-right: 10px;
    content: url(/images/disk.svg);
}

.second-li-sec4::before{
    margin-right: 10px;
    content: url(/images/wysiwyg.svg);
}

.third-li-sec4::before{
    margin-right: 10px;
    content: url(/images/collections.svg);
}

.p-text-4-second{
    margin: 55px auto 25px auto;
}

.text-li-sec4{
    color:#FFFFFF;
}


/* footer */

.last-img{
    margin-right: 32px;
}

.lasthref{
    margin-left: 32px;
}

.footer a{
    text-decoration: none;
    color:#000000;
}

.white-text{
    color:#FFFFFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
    background-image: url(/images/Rectangle69.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}